#profile-card {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 10px 16px;
    border-radius: 9999px;
    width: fit-content;
    gap: 12px;
    font-family: 'Segoe UI', sans-serif;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
}

#profile-card:hover {
    box-shadow: 0 6px 20px rgba(165, 138, 165, 0.35);
    transform: translateY(-2px);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.profile-img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-info h2 {
    margin: 0;
    font-size: 16px;
    font-weight: 700;
    color: #000000;
}

.profile-info .role {
    margin: 0;
    font-size: 14px;
    color: #999999;
}

#logout-btn {
    background-color: #E94057;
    padding: 15px 25px;
    border-radius: 99px;
    color: white;
}