
#action-buttons {
    @apply w-[300px] fixed flex items-center justify-evenly bottom-[105px] left-[50%] z-50;
    transform: translate(-50%, -50%);
    z-index: 100;
}

#action-buttons button {
    @apply w-[60px] h-[60px] text-3xl items-center flex justify-center rounded-[50%];
}

#skip-btn {
    @apply bg-white text-[#E94057] ;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.1);
    border: 2px solid #E94057;
}

#skip-btn svg {
    @apply w-[40px] h-[40px];
}

#like-btn {
    @apply bg-[#E94057] text-white;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.1);
}

#message-btn {
    @apply bg-white text-[#E94057];
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.2);
}